body{
  margin: 0;
  padding:0;

}


#product_tab h1{
  font-weight: normal;
  font-size:20px;
  text-align: center;
}


#product_tab ul{
  list-style: none;
  margin:0 auto;
  width:300px;
}

#product_tab ul li{
  padding:10px 20px;
  border: solid 1px #000;
  border-radius: 5px;
}

#product_tab a{
  display: block;
  margin-top: 10px ;
  margin-left: 20px;
  text-align: center;
}

#product_tab a input{
  background-color: blueviolet;
  padding:10px 70px;
  border-radius: 5px;
}

.text{
  display: none;
  text-align: center;
  font-size: 18px;
}